name: Refresh statistics
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 5 * *'   # Run on the 5st of every month at midnight UTC
    - cron: '0 0 15 * *'  # Run on the 15th of every month at midnight UTC
    - cron: '0 0 25 * *'  # Run on the 25st of every month at midnight UTC
  workflow_dispatch:
permissions:
  contents: write
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Init repo
        run: |
          git config --global user.name 'stn1slv'
          git config --global user.email 'stn1slv@users.noreply.github.com'
          git pull origin main
      - name: Generate GitHub Stats - Dark
        continue-on-error: true
        uses: stn1slv/github-stats-card@v1.1.0
        with:
          card-type: stats
          username: stn1slv
          token: ${{ secrets.GITHUB_TOKEN }}
          output: img/github-stats-dark.svg
          theme: vue-dark
          show-icons: true
          hide-border: true
          hide-title: true
          include-all-commits: true
      
      - name: Generate GitHub Stats - Light
        continue-on-error: true
        uses: stn1slv/github-stats-card@v1.1.0
        with:
          card-type: stats
          username: stn1slv
          token: ${{ secrets.GITHUB_TOKEN }}
          output: img/github-stats-light.svg
          theme: vue
          show-icons: true
          hide-border: true
          hide-title: true
          include-all-commits: true
      
      - name: Generate GitHub Stats - Default
        continue-on-error: true
        uses: stn1slv/github-stats-card@v1.1.0
        with:
          card-type: stats
          username: stn1slv
          token: ${{ secrets.GITHUB_TOKEN }}
          output: img/github-stats.svg
          show-icons: true
          hide-title: true

      - name: Generate Top Contributions - Dark
        continue-on-error: true
        uses: stn1slv/github-stats-card@v1.1.0
        with:
          card-type: contrib
          username: stn1slv
          token: ${{ secrets.GITHUB_TOKEN }}
          output: img/github-contributor-dark.svg
          theme: vue-dark
          limit: 10
          hide-border: true
          
      - name: Generate Top Contributions - Light
        continue-on-error: true
        uses: stn1slv/github-stats-card@v1.1.0
        with:
          card-type: contrib
          username: stn1slv
          token: ${{ secrets.GITHUB_TOKEN }}
          output: img/github-contributor-light.svg
          theme: vue
          limit: 10
          hide-border: true
          
      - name: Generate Top Contributions - Default
        continue-on-error: true
        uses: stn1slv/github-stats-card@v1.1.0
        with:
          card-type: contrib
          username: stn1slv
          token: ${{ secrets.GITHUB_TOKEN }}
          output: img/github-contributor.svg
          limit: 10

      - name: Generate Top Languages - Dark
        continue-on-error: true
        uses: stn1slv/github-stats-card@v1.1.0
        with:
          card-type: top-langs
          username: stn1slv
          token: ${{ secrets.GITHUB_TOKEN }}
          output: img/top-langs-dark.svg
          theme: vue-dark
          layout: compact
          hide-border: true
          hide: markdown,xml,asciidoc,html,handlebars
          langs-count: 8
          weighting: balanced
      
      - name: Generate Top Languages - Light
        continue-on-error: true
        uses: stn1slv/github-stats-card@v1.1.0
        with:
          card-type: top-langs
          username: stn1slv
          token: ${{ secrets.GITHUB_TOKEN }}
          output: img/top-langs-light.svg
          theme: vue
          layout: compact
          hide-border: true
          hide: markdown,xml,asciidoc,html,handlebars
          langs-count: 8
          weighting: balanced
      
      - name: Generate Top Languages - Default
        continue-on-error: true
        uses: stn1slv/github-stats-card@v1.1.0
        with:
          card-type: top-langs
          username: stn1slv
          token: ${{ secrets.GITHUB_TOKEN }}
          output: img/top-langs.svg
          layout: compact
          hide: markdown,xml,html,asciidoc,handlebars
          langs-count: 8
          weighting: balanced

      - name: Commit report
        run: |
          git status
          git add img/*.svg || echo "No SVG files to stage"
          git commit -m "Stats refreshed" || echo "No changes to commit"
          git push origin main
